.nav {
    height: 72px;
    width: 100%;
    background: #E2EB76;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    padding: 0 72px;
}
.nav-logo {
    margin-top: 12px;
}
.nav-menu {
    display: flex;
}
.nav-menu b {
    color: #F81958;
    margin: 0 30px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.02em;
    cursor: pointer;
    position: relative;
}
.nav-user>b{
    position: relative;
    display: flex;
    align-items: center;
    height: 22px;
}
.nav-menu b:hover:after,
.nav-user>b:hover:after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #1E1010;
    transform: rotate(2deg);
    position: absolute;
    bottom: -6px;
}
.nav-menu b:hover {
    /*color: #1E1010;*/
}
.nav-user {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}
.nav-user b {
    color: #F81958;
    font-size: 20px;
    line-height: 22px;
    cursor: pointer;
}
.nav-user-join{
    background-image: url("../../images/join-background.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    margin-top: 7px;
    width: 143px;
}
.nav-user-join:hover{
    background-image: url("../../images/bgBlack.png");
    width: 156px;
    /*background-repeat: no-repeat;*/
}
.nav-user-join>b {
    color: #FAFF29;
    transform: rotate(5deg);
}
.nav-user-join:hover > b {
    color: #FAFF29;
    transform: rotate(-5deg)!important;
}
.nav-user div div img {
    position: absolute;
    right: 145px;
    top: 9px;
    z-index: 0;
}

