.footer {
    margin-top: 100px;
    height: 72px;
    background: #676784;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer b {
    color: #FAFF29;
    margin: 0 50px;
}