/*present*/
.present-logo {
    text-align: center;
    margin-top: 130px;
}
.present p {
    color: #E2EB76;
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    font-family: Basis Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-weight: 300;
}
.present p span {
    color: #E2EB76;
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    font-family: Basis Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-weight: 500;
}
/*posts*/
.post h3 {
    font-family: "Basis Grotesque Pro";
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 21px;
    color: #FAFF29;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 60px;
    text-align: left;
}
.post p {
    font-family: "Basis Grotesque Pro";
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 17px;
    color: #c172c1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 60px;
    text-align: left;
}

.coming {
    margin-left: 140px;
    margin-top: 100px;
    font-weight: 900;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: #FFA87D;
    transform: rotate(-3deg);
    position: relative;
    z-index: 1;
    margin-bottom: 24px;
    position: relative;
    display: inline-block;
}
.fire {
    position: absolute;
    right: 50px;
    z-index: 1;
    top: -90px;
    width: 150px;
    height: auto ;
}
.coming-posts {
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    position: relative;
}
.coming-posts div {
    margin: 0 20px;
}
.storyboarding {
    margin-left: 140px;
    margin-top: 100px;
    font-weight: 900;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: #807BE4;
    transform: rotate(2deg);
    position: relative;
    z-index: 1;
    width: min-content;
}
.storyboarding-posts {
    display: flex;
    margin-left: 25px;
    margin-top: 70px;
}
.storyboarding-posts div {
    margin: 0 20px;
}
.visual {
    margin-top: 100px;
    margin-left: 27%;
    font-weight: 900;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: #FF9FD4;
    transform: rotate(-3deg);
    position: relative;
    z-index: 1;
    display: inline-block;
}
.visual-posts {
    display: flex;
    margin-left: 16%;
}
.visual-posts div {
    margin: 0 20px;
}
.animation {
    margin-top: 100px;
    font-weight: 900;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: #A8D29B;
    transform: rotate(2deg);
    left: 60%;
    z-index: 1;
    width: 100%;
    /* margin-left: auto; */
    text-align: right;
    padding-right: 500px;
}
.animation-posts .swiper-container{
    padding-right: 200px;
}
.animation-posts .swiper-wrapper{
    justify-content: flex-end;
}
.animation-posts {
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
    position: relative;
}
.sticker {
    position: absolute;
    left: 0;
    width: 500px;
    height: auto;
    top: -100px;
}
.animation-posts div {
    margin: 0 20px;
}
/*slider*/
.missed-out {
    margin-left: 180px;
    margin-top: 130px;
    font-weight: 900;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: #FF9FD4;
    transform: rotate(3deg);
    position: relative;
    z-index: 1;
    display: inline-block;
}
@media screen and (max-width: 1400px) {
    .post h3 {
        padding: 0 30px;
    }
    .post p {
        padding: 0 30px;
    }
}
